.menubar{
    background-color: darkblue;
    height: 50px;
    width: 100%;
    z-index: 100;
    color: #fff;
    margin-left: 0px;
    margin-right: 0px;
}

.top>ul{
  text-align: left;
  display: inline;
    color: #fff;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.top>ul li {
  display: inline-block;
  position: relative;
  padding: 15px 20px;
      color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
        z-index: 100;
}

.top>ul li a{
    color: #fff;
}
.top>ul li a:hover {
  color: #fff;
}

.top>ul li:visited {
  color: #fff;
}

.top>ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
      color: #fff;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
        z-index: 100;
}
.top>ul li ul li { 
  display: block; 
    background: #555;
  text-shadow: 0 -1px 0 #000;
}

.top>ul li ul li:hover{
    background:#666;
}

.top>ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

.content-box { 
    width: 250px;
    height: 160px;
    border: 1px solid white;
    background-color: #fff;
    color: #fff;                
}

.box-title {
    color: #fff; 
    font-size: 18px;
    padding-left: 10px;
}

.box {
    background-color: #fff; 
    border: 1px solid white;
    margin-right: 20px;
    padding-bottom: 30px;
    margin-top: 30px;
}
        
a:active {
    text-decoration: none;
    color: #ffffff;
}
    
a:visited {
    text-decoration: none;
    color: #fff;
}